#botao{
    width: 100px;
}

input{
    margin-top: 20px;
    width: 50px;
}

#res{
    font-size: normal 20pt arial;
    color: black;
    margin-top: 20px;

}

#res1{
    font-size: normal 20pt arial;
    color: black;
    margin-top: 20px;
}

#res2{
    font-size: normal 20pt arial;
    color: black;
    margin-top: 20px;
}